*
  box-sizing: border-box
.container
  max-width: 1140px
  margin: auto
body
  background-color: $light
.navbar, .info
  font-family: 'Open Sans', sans-serif
.invalid
  font-family: 'Open Sans', sans-serif
  color: red
  font-size: 14px
